.grid {
  display: grid;
  width: 100%;
  gap: var(--spacing-20);
}

.card {
  border: 1px solid var(--light-gray);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.imageContainer {
  position: relative;
  height: 200px;
}

.details {
  padding: var(--spacing-12);
}

.title {
  font-size: var(--font-size-20);
  margin: var(--spacing-12) 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.price {
  color: var(--red);
  font-size: var(--font-size-16);
  margin-bottom: var(--spacing-12);
  font-weight: 600;
}

.description {
  font-size: var(--font-size-12);
  margin-bottom: var(--spacing-12);
  width: 100%;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.category {
  font-size: var(--font-size-12);
  color: var(--dark-gray);
  margin-bottom: var(--spacing-12);
  text-transform: capitalize;
}

.rating {
  font-size: var(--font-size-14);
  color: var(--dark-gray);
}

@media (min-width: 481px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    margin-top: var(--spacing-20);
  }
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-left: var(--spacing-20);
  }

  .imageContainer {
    height: 300px;
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
